@mixin border-and-shadow($border, $shadow) {
    border: 1px;
    box-shadow: 5px rgba(0,0,0,0.2);
}

@mixin button{
    background-color: aquamarine;
    color: antiquewhite;
    padding: 0%;
    text-decoration: none;
    display: block;
}
@mixin flex-container {
    display: contents;
    justify-content: center;
    align-items: center;
}
@mixin alert-box {
    background-color: black;
    color: aqua;
    padding: 0%;
    border: 0cap;
}
@mixin card {
    background-color: #e9e9e9; 
}


.box {
    @include alert-box;
}
.button {
    @include flex-container;
}
.card {
    @include card;
}